/*START Default starting declarations*/
*,
*::before, /* "*" seria suficiente mas ous outros são best practices"*/
*::after{
    box-sizing: inherit; /*from html{}*/
    text-decoration:none; /*remove underline on links*/
    list-style:none; /*remove bullet points*/
    outline:none; /*removes outlines*/
    padding:0px; /* removes difault values */
    margin:0px;  /* removes difault values */
}
html{
    font-size: 100%; /*font size equal to what the user defined in his browser*/
    line-height: 1.5rem; /*distancia entre linhas maior*/
    font-family: Arial, Helvetica, sans-serif; /*common font stack*/
    box-sizing: border-box; /*novo default é border-box*/
}
body{
    margin: 0 auto; /*remover margem top and bottom e centerar*/
    padding: 0; /*remover padding*/
    max-width: 100%; /*maxima largura do body*/
}
img{
    max-width: 100%; /*largura igual à largura do container onde está colocada*/
    height: auto; /*preserva o aspect ratio*/
    display: block; /*deixam de ser objetos inline*/
}
/*END Default starting declarations*/



/*START Nav*/
header{
    width:100%; /*largura igual largura pagina*/
    background-color:#253237; /*cor header*/
    margin:0 0 50px 0;
    padding-right: 13px; /*qnd hover faz items aumentar este padding previne que haja side scroll*/
    padding-left: 6%; /*qnd em desktop mais pequeno que max-width da section previne q fique colado à esquerda*/
}
section{ /*logo mais hamburger*/
    width:100%; /*largura igual ao header*/
    max-width:1400px; /*nao passar de 1200px (qnd em desktop texto ficar mais centrado)*/
    margin:0px auto; /*centerar*/
    display:table; /*crucial for some reason*/
}
#logo{
    float:left; /*colar ao lado esquerdo*/ 
    font-size:24px; 
    color:#A6E1FA; 
    font-weight:600; 
    padding:20px 0 0 0; /* padding em cima p centrar na vertical */
}
nav{
    float:right; /*texto desktop centrado*/
}
nav ul li{
    float:left; /*texto desktop ficar em linha*/
}
nav ul li a{
    color:#A6E1FA; /*texto desktop*/
    font-size:18px; /*texto desktop*/
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    transform: scale(1.2);
    cursor: pointer; /*qnd hover fica mao*/
    transition: all 0.4s ease 0s;
}
.toggle-menu ul{
    width:25px; /* largura do hamburger */
}
.toggle-menu ul li{
    width:100%; /*largura igual a largura da ul*/ 
    height:3px; /*altura das fatias do hamburger*/
    background-color:#A6E1FA; /*cor do hamburger*/
    margin-bottom:5px; /*distancia entre fatias do hamburger*/
}
.toggle-menu ul li:last-child{ /*margem da ultima linha hamburger*/
    margin-bottom:0px;
}
body{
    background-color: #F8F8F8;
}
input[type=checkbox], label{display:none;} /*desktop nao mostrar hamburger*/

/* tem prioridade a todas as de cima */
/*aplicam-se estas e todas as a cima*/
/*td a baixo de 900*/
@media (max-width: 900px) {
    header{
        padding:20px 0 20px 0; 
    }
    #logo{
        padding:0px; /*centrar*/
    }
    section {
        max-width: 90%; /*distancia do logo e hamburger as paredes*/
    } 
    body{
        background-color: #F8F8F8;
    }
    
    label { /* hamburger */
        float:right; /* ficar a direita */
        padding:8px 0px 8px 0;
        display:block; 
        cursor:pointer; /*qnd hover fica mao*/
    }
    input[type=checkbox]:checked ~ nav { /*tds os nav q são irmaos da checkbox e aparecem dps*/
        display:block; /*se estiver checked passa de off para on*/
    }
    nav{ /*dropdown menu*/
        display:none; /*default menu off*/
        position:absolute; 
        right:0px; /*distancia da direita*/
        top:53px; /*distancia do topo*/
        z-index:9999; /*ficar por cima de td o resto (9999 valor max)*/
        background-color:#C2DFE3; 

    }
    nav ul{
        width:auto; /*largura menu dropdown*/
    }
    nav ul li{ /*linhas do dropdown*/
        float:none; /*nessesario para controlar tamanho do dropdown*/
        width:100%; /*linha igual ao tamanho da ul*/
    }
    nav ul li a{ /* itens do dropdown */
        color:#253237; 
        font-size:15px; 
        padding:10px 20px 10px 20px; 
        display:block; /*ocupam a largura td do dropdown*/
        border-bottom: 2px solid #5C6B73; /*border em baixo*/
    }
    nav ul li a:hover{
        border-bottom: 2px solid #5C6B73;
        transform: scale(1.1);
        background-color: #C2DFE3;
        cursor: pointer; /*qnd hover fica mao*/
        transition: all 0.4s ease 0s;
    }
}

/* tem prioridade a todas as de cima */
/*aplicam-se estas e todas as a cima*/
/*td a baixo de 420*/
@media (max-width: 420px) {
    label{
        padding:5px 0 0 0; /*altura do hamburger*/
    } 
    #logo{
        font-size: 20px;
    }
    nav{
        top:49px; /* distancia do drop-down ao hamburger */
    } 
    body{
        background-color: #F8F8F8;
    }
    h1{
        font-size: 1.4rem;  
    }
}
/*END Nav*/



/*START Main*/
main img{
    margin: 0 auto;
}
main h1{
    text-align: center;
    padding: 0;
    width: 70%;
    margin: 0 auto 5% auto;
    color: #253237;
    text-shadow: 1px 1px black;
}
/*END Main*/



/*START Footer*/
footer{
    background-color: #121717;
    color: #E0FBFC;
    text-align: center;
    font-size: 0.7rem;
    position: relative;
    height: 30px;    
    width: 100%;
    margin: 15px 0 0 0;
}
/*END Footer*/


