$cor_texto:#023B64;
$cor_background:#023B64;


body{
  text-align: center;
  padding: 100px;
  font-size: 20px;
  background-color: $cor_background;
  color: $cor_texto;
  font-family: 'Times New Roman', Times, serif;
}