$colorbg: #849EAD;
$cor-fronteira:#808080;
$text-color: white;
$text-font: 'Times New Roman', Times, serif;
$font-size-grande: 40px;
$font-size-medio: 25px;
$text-position: center;
$outline-texto:-1px -1px 0 rgb(99, 98, 98), 1px -1px 0 rgb(99, 98, 98), -1px 1px 0 rgb(99, 98, 98), 1px 1px 0 rgb(99, 98, 98);
$tamanho-img-quadrada-grande:200px;
$tamanho-img-quadrada-pequena:150px;

.caixa-login {
    background-color: $colorbg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    width: 60%;
    border-radius: 50px;
    border: 4px solid $cor-fronteira;
    
        h1 {
            color: $text-color;
            text-shadow: $outline-texto;
            font-family: $text-font;
            font-size: $font-size-grande;
            text-align: center;
            padding: 10px;
        }
        
        h2 {
            color: white;
            text-shadow: $outline-texto;
            font-family: $text-font;
            font-size: $font-size-medio;
            text-align: center;
        }
        
        img{
            height: $tamanho-img-quadrada-grande;
            width: $tamanho-img-quadrada-grande;
            margin: 0 auto;
        }
    }

body{
    background-color: $colorbg;
}

@media (max-width: 420px) {
    .caixa-login img {
      height: $tamanho-img-quadrada-pequena;
      width: $tamanho-img-quadrada-pequena;
    }
  }